@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style: none !important;
}

@keyframes slider {
  0% {
    transform: translateX(150px);
    display: none;
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    display: flex;
    opacity: 1;
  }
}
@keyframes closeSlider {
  0% {
    transform: translateX(0);
    display: flex;
    opacity: 1;
  }
  100% {
    transform: translateX(150px);
    display: none;
    opacity: 0;
  }
}
header {
  margin-bottom: 100vh;
}
header nav {
  margin: 20px 20px;
  background-color: transparent;
  padding: 10px 0;
  color: #dfdfdf;
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 3;
}
header nav .logo {
  margin-left: 4rem;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0 4rem 0 10rem;
  column-gap: 5px;
  padding: 10px 4px;
}
header nav ul li a {
  font-size: 1.1em;
  text-decoration: none;
  color: #252641;
}
header nav ul li a:hover {
  color: #f48c06;
}
header nav ul li button {
  width: 140px;
  height: 40px;
  font-size: 1.1em;
  outline: none;
  border: none;
  border-radius: 80px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}
header nav ul li button.login {
  color: #6c6c6c;
  background-color: white;
}
header nav ul li button.login:hover {
  background-color: #e6e6e6;
}
header nav ul li button.signup {
  color: white;
  background-color: #f48c06;
}
header nav ul li button.signup:hover {
  background-color: #c26f05;
}
header .header {
  background-image: url(../assets/img/header/bg-header.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: -5vh;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 2.4fr;
  gap: 10px;
}
header .header .container-header {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 5rem;
  padding: 10rem 0;
  margin-left: 4rem;
  gap: 40px;
}
header .header .container-header h3 {
  font-size: 3.4em;
  font-weight: 700;
  color: #2f327d;
}
header .header .container-header h3 span {
  color: #f48c06;
}
header .header .container-header p {
  font-size: 1.2em;
  color: #464644;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}
header .header .container-header button {
  width: 160px;
  height: 40px;
  font-size: 1.1em;
  outline: none;
  border: none;
  background-color: #f48c06;
  color: white;
  height: 50px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.1);
}
header .header .container-header button:hover {
  background-color: #c26f05;
}
header .header .container-person {
  position: relative;
  z-index: -999;
  margin-top: 4.4rem;
}
header .header .container-person img {
  height: 750px;
}

.carrer {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
}
.carrer h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #696984;
}
.carrer .company {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 30px;
}
.carrer .company ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.carrer .company ul li .google path {
  transition: 0.5s;
}
.carrer .company ul li .google:hover path:nth-child(1) {
  fill: #4086f4;
}
.carrer .company ul li .google:hover path:nth-child(2) {
  fill: #31aa52;
}
.carrer .company ul li .google:hover path:nth-child(3) {
  fill: #eb4132;
}
.carrer .company ul li .google:hover path:nth-child(4) {
  fill: #fbbd00;
}
.carrer .company ul li .google:hover path:nth-child(5) {
  fill: #4086f4;
}
.carrer .company ul li .google:hover path:nth-child(6) {
  fill: #eb4132;
}
.carrer .company ul li .netflix path {
  transition: 0.5s;
}
.carrer .company ul li .netflix:hover path {
  fill: #d70913;
}
.carrer .company ul li .airbnb path {
  transition: 0.5s;
}
.carrer .company ul li .airbnb:hover path {
  fill: #f2555a;
}
.carrer .company ul li .amazon path {
  transition: 0.5s;
}
.carrer .company ul li .amazon:hover path:nth-child(1) {
  fill: #f29100;
}
.carrer .company ul li .amazon:hover path:nth-child(2) {
  fill: #f29100;
}
.carrer .company ul li .amazon:hover path:nth-child(3) {
  fill: #201d1d;
}
.carrer .company ul li .facebook path {
  transition: 0.5s;
}
.carrer .company ul li .facebook:hover path {
  fill: #4462a1;
}
.carrer .company ul li .grab path {
  transition: 0.5s;
}
.carrer .company ul li .grab:hover path {
  fill: #00a84b;
}

.all-in-one {
  display: grid;
  width: 100%;
  margin: 15rem 0px;
  grid-template-areas: "header header header" "billing schedule cust-track";
  justify-content: center;
  gap: 2px;
  row-gap: 50px;
}
.all-in-one .header {
  grid-area: header;
  text-align: center;
  padding: 10px 350px;
}
.all-in-one .header h3 {
  font-size: 2em;
  font-weight: 700;
  color: #2f327d;
}
.all-in-one .header h3 span {
  color: #f48c06;
}
.all-in-one .header p {
  font-size: 1.3em;
  font-weight: 400;
  color: #696984;
}
.all-in-one .card {
  text-align: center;
  padding: 50px;
}
.all-in-one .card h4 {
  font-size: 1.6em;
  color: #2f327d;
  font-weight: 500;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-in-one .card p {
  font-size: 1.1em;
  font-weight: 400;
  color: #696984;
}
.all-in-one .billing {
  grid-area: billing;
}
.all-in-one .schedule {
  grid-area: schedule;
}
.all-in-one .cust-track {
  grid-area: cust-track;
}

@media (max-width: 576px) {
  nav .logo {
    font-size: 1.7em;
  }
  nav {
    position: relative;
  }
  nav .logo {
    margin-left: 0;
    margin-right: 10rem;
    width: 200px;
  }
  nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    align-items: center;
    width: 25%;
    top: 0;
    height: 100vh;
    background-color: rgba(199, 110, 26, 0.496);
    z-index: -2;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(150px);
  }
  nav ul.slider {
    animation-name: slider;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  nav ul.closeSlider {
    animation-name: closeSlider;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  nav ul li a {
    color: black;
  }
  nav .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
  }
  nav .menu-toggle span {
    width: 40px;
    background-color: rgb(195, 195, 194);
    height: 5px;
    transition: 0.5s;
  }
  .menu-toggle.trigger span:nth-child(1) {
    transform-origin: 0 0;
    transform: rotate(45deg);
    margin-bottom: 2px;
  }
  .menu-toggle.trigger span:nth-child(2) {
    opacity: 0;
    transition: 0.1s;
  }
  .menu-toggle.trigger span:last-child {
    transform-origin: 0 100%;
    transform: rotate(-44deg);
    margin-top: 2px;
  }
}/*# sourceMappingURL=main.css.map */